<!DOCTYPE html>
<html>
<h1>Detalle del Producto</h1>
<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../assets/images/ImagenesImpresora/IMP6.jpg" class="img-fluid rounded-start" alt="IMP6">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">XEROX IMPRESORA MULTIFUNCION B235V_DNI</h5>
                <dl class="row">
                    <dt class="display-3">Precio 1900</dt>
                    <form [formGroup]="formcantidad">
                        <div class="form-row">
                            <div class="form-group col-lg-16 col-md-16 col-xs-16">
                                <label for="cantidad">Cantidad</label>
                                <select id="cantidad" class="form-control" style="color:#000000" formControlName="cantidad">
            <option *ngFor="let sum of this.suma" [value]="sum.sum">{{sum.sum}}</option>
              </select>
                                <div class="pt-1 text-danger" *ngIf="invalid('cantidad') || cantidadAux">
                                    <span class="form-control-feedback">
              <i class="mdi mdi-close-circle"></i> Este campo es <strong>requerido.</strong>
                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <dl class="row">

                        <dt class="col-sm-3">Velocidad de impresión</dt>
                        <dd class="col-sm-9">34ppm</dd>

                        <dt class="col-sm-3">Salida a dos caras</dt>
                        <dd class="col-sm-9">Estándar</dd>

                        <dt class="col-sm-3">Volumen de impresión mensual recomendado</dt>
                        <dd class="col-sm-9">2500 páginas</dd>

                        <dt class="col-sm-3">Ciclo de trabajo</dt>
                        <dd class="col-sm-9">Hasta 30.000 imágenes/mes</dd>

                        <dt class="col-sm-3">Hasta 30.000 imágenes/mes</dt>
                        <dd class="col-sm-9">1,0 GHz</dd>

                        <dt class="col-sm-3">Resolución máxima de impresión</dt>
                        <dd class="col-sm-9">600 x 600 ppp</dd>

                        <dt class="col-sm-3">Resolución máxima de copia</dt>
                        <dd class="col-sm-9">600 x 600 ppp</dd>

                        <dt class="col-sm-3">Resolución de escaneo (óptica)</dt>
                        <dd class="col-sm-9">1200 x 1200 ppp</dd>

                        <dt class="col-sm-3">DIMENSIONES</dt>
                        <dd class="col-sm-9">41.5 x 36.0 x 35.2 cm</dd>

                        <dt class="col-sm-3">PESO</dt>
                        <dd class="col-sm-9">10 kg</dd>

                        <dt class="col-sm-3">FORMATO</dt>
                        <dd class="col-sm-9">A4/Carta, A5, A6, JIS B5</dd>
                    </dl>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary">Detalle</button>
                    </div>
            </div>
        </div>
    </div>
</div>

</html>