<div class="row">

    <div class="col-sm-6">
        <h1 class="text-center">Bienvenido <span style="color:#ff0000; margin-right: 20px;">{{nombreUsuario}}</span> <img style="width: 20%;" [src]="imgWelcomeText"></h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ImagenesImpresora/IMP1.jpg" class="card-img-top" alt="IMP2">
                <div class="card-body">
                    <h5 class="card-title">IMPRESORA DE VELOCIDAD IMAGERUNNER ADVANCE 8786I</h5>
                    <p class="card-text">Impresora de Alta Velocidad Monocromática Tamaño A3 de Mediana Producción para impresores comerciales, centros de impresiones gráficas, centros de impresiones en planta, agencia creativa o PYME. Diseñadas para satisfacer las necesidades
                        específicas de los centros de impresión internas corporativas que requieren una productividad sólida. </p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="/detalle-producto">Detalle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ImagenesImpresora/IMP2.jpg" class="card-img-top" alt="IMP2">
                <div class="card-body">
                    <h5 class="card-title">IMPRESORA MULTIFUNCIONAL CANON MF-429X 220V</h5>
                    <p class="card-text">Impresora con seguridad dinámica habilitada. Para uso exclusivo con cartuchos que utilicen un chip original de HP. Es posible que no funcionen los cartuchos que no utilicen un chip de HP, y que los que funcionan en la actualidad no
                        funcionen en el futuro.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="/producto2">Detalle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ImagenesImpresora/IMP3.jpg" class="card-img-top" alt="IMP3">
                <div class="card-body">
                    <h5 class="card-title">CANON IMPRESORA MULTIFUNCIÓN WG7550F BLANCO</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="/producto3">Detalle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ImagenesImpresora/IMP4.jpg" class="card-img-top" alt="IMP4">
                <div class="card-body">
                    <h5 class="card-title">IMPRESORA MULTIFUNCION WG7550F</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="/producto4">Detalle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ImagenesImpresora/IMP5.jpg" class="card-img-top" alt="IMP5">
                <div class="card-body">
                    <h5 class="card-title">IMPRESORA MULTIFUNCION LASEJET ENTERPISE MFP M776DN</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="/producto5">Detalle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ImagenesImpresora/IMP6.jpg" class="card-img-top" alt="IMP6">
                <div class="card-body">
                    <h5 class="card-title">XEROX IMPRESORA MULTIFUNCION B235V_DNI</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="/producto6">Detalle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>