<!DOCTYPE html>
<html>

<head>
    <title>Portfolio website</title>
    <link rel="stylesheet" type="text/scss" href="presentar-home.component.scss">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <!----hero Section start---->

    <div class="hero">
        <nav>
            <h2 class="logo">
                <font size="15">X-</font><span><font size="12">Laser</font></span></h2>
            <ul>
                <li>
                    <a href="http://localhost:4200/presentarhome">
                        <font size="5">Inicio</font>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/presentarhome">
                        <font size="5">Sobre Nosotros</font>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/presentarhome">
                        <font size="5">Servicios</font>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/presentarhome">
                        <font size="5">Contactanos</font>
                    </a>
                </li>
            </ul>
            <a href="http://localhost:4200/registrar-cliente" class="btn">Registrar</a>
            <a href="http://localhost:4200/login" class="btn">Login</a>
        </nav>


    </div>

    <!----About section start---->
    <section class="about">
        <div class="main">
            <img src="../../assets/images/ImagenesImpresora/impresora2.jpg">
            <div class="about-text">
                <h2>Sobre Nosotros</h2>
                <h3>X-<span>Laser</span></h3>
                <p></p>
                <h5>Misión:</h5>
                <p>Contribuir al desarrollo empresarial del país procesando tecnología alterna, simple y especializada en impresiones digitales con un alto valor agregado en servicios, soluciones tecnológicas avanzadas y la participación de sus trabajadores,
                    totalmente comprometidos ética y profesionalmente.</p>
                <button type="button" href="http://localhost:4200/presentarhome">Ver más información</button>
            </div>
        </div>
    </section>


    <div class="service">
        <div class="title">
            <h2>Servicios</h2>
        </div>

        <div class="box">
            <div class="card">
                <i class="fas fa-bars"></i>
                <h5>Mantenimiento</h5>
                <div class="pra">
                    <ul>
                        <li>
                            <figure>
                                <img src="../../assets/images/ImagenesImpresora/impresora3.jpg" atl='impresora3' width="100" height="185">
                                <figcaption>
                                    <p>Las empresas necesitan que sus equipos funcionen en todo momento. Es preciso para ello disponer de un servicio de mantenimiento preventivo y correctivo en todo momento.
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <i class="far fa-user"></i>
                <h5>Alquiler</h5>
                <div class="pra">
                    <ul>
                        <li>
                            <figure>
                                <img src="../../assets/images/ImagenesImpresora/impresora5.jpg" atl='impresora5' width="100" height="185">
                                <figcaption>
                                    <p>Con nuestra asesoría y planes especiales, nuestros clientes acceden a reducciones significativas, nuestro servicio garantiza alta calidad y la renovación de equipos.</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <i class="far fa-bell"></i>
                <h5>Cotización</h5>
                <div class="pra">
                    <ul>
                        <li>
                            <figure>
                                <img src="../../assets/images/ImagenesImpresora/impresora7.jpg" atl='impresora6' width="100" height="185">
                                <figcaption>
                                    <p>Si estás considerando en adquirir impresoras, pero solo por un periodo corto, pues contamos con un gran stock de impresoras de distintas marcas.</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!------Seccion 2------>
    <section>
        <div class="service">
            <div class="title">
                <h2>Productos</h2>
            </div>

            <div class="container mt-5 mb-5">
                <div class="product-stripe">
                    <div class="stripe-container">
                        <div class="card">
                            <img src="../../assets/images/ImagenesImpresora/IMP2.jpg" atl='IMP2'>
                            <h4>IMPRESORA DE VELOCIDAD IMAGERUNNER ADVANCE 8786I</h4>
                            <p>Impresora alta velocidad</p>
                            <a href="#">Leer mas</a>
                        </div>
                        <div class="card">
                            <img src="../../assets/images/ImagenesImpresora/IMP3.jpg" atl='IMP3'>
                            <h4>IMPRESORA MULTIFUNCIONAL CANON MF-429X 220V</h4>
                            <p>Impresora alta velocidad</p>
                            <a href="#">Leer mas</a>
                        </div>
                        <div class="card">
                            <img src="../../assets/images/ImagenesImpresora/IMP1.jpg" atl='IMP1'>
                            <h4>CANON IMPRESORA MULTIFUNCIÓN WG7550F BLANCO</h4>
                            <p>Impresora alta velocidad</p>
                            <a href="#">Leer mas</a>
                        </div>
                        <div class="card">
                            <img src="../../assets/images/ImagenesImpresora/IMP4.jpg" atl='IMP4'>
                            <h4>IMPRESORA MULTIFUNCION WG7550F</h4>
                            <p>Impresora alta velocidad</p>
                            <a href="#">Leer mas</a>
                        </div>
                        <div class="card">
                            <img src="../../assets/images/ImagenesImpresora/IMP5.jpg" atl='IMP5'>
                            <h4>IMPRESORA MULTIFUNCION LASEJET ENTERPISE MFP M776DN</h4>
                            <p>Impresora alta velocidad</p>
                            <a href="#">Leer mas</a>
                        </div>
                        <div class="card">
                            <img src="../../assets/images/ImagenesImpresora/IMP6.jpg" atl='IMP6'>
                            <h4>XEROX IMPRESORA MULTIFUNCION B235V_DNI</h4>
                            <p>Impresora alta velocidad</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------Contact Me------>
    <section>
        <div class="contact-me">
            <p></p>

            <div class="responsive-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15606.472745510562!2d-77.0689720921875!3d-12.069770399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8e3df545673%3A0xbc33c4386f21bc6f!2sX-Laser%20S.A.C!5e0!3m2!1ses!2spe!4v1652949859421!5m2!1ses!2spe"
                    width="600" height="165" style="border: 40px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <a class="button-two" href="https://www.google.com/maps?ll=-12.06977,-77.052493&z=13&t=m&hl=es&gl=PE&mapclient=embed&cid=13561398649604389999">Ubicacion</a>
        </div>
    </section>

    <footer>
        <p>Encuentranos en nuestras siguientes redes</p>
        <div class="social">
            <a href="http://localhost:4200/presentarhome"><i class="fab fa-facebook-f"></i></a>
            <a href="http://localhost:4200/presentarhome"><i class="fab fa-instagram"></i></a>
            <a href="http://localhost:4200/presentarhome"><i class="fab fa-dribbble"></i></a>
        </div>
        <p class="end">CopyRight X-Laser</p>
    </footer>
</body>

</html>