<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 d-flex justify-content-end" style="margin-bottom: 10px">
            <input type="text" [(ngModel)]="filtro" class="form-control" placeholder="Buscar" />
        </div>

        <div class="col-md-4 d-flex justify-content-end" style="margin-bottom: 10px">
            <button type="button" (click)="abrirModal()" class="btn btn-primary">
                Agregar
            </button>
            <input data-toggle="modal" data-target="#modalCita" #modalCita type="hidden" name="button">
        </div>
    </div>
    <div class="row">
        <!--Tabla-->
        <div class="table-responsive">
            <table style="width: 100%" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Motivo</th>
                        <th scope="col">Fecha y Hora</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Estado</th>
                        <th class="text-right">Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cita of citas | filter: filtro">
                        <td>{{ cita.motivo.descripcion }}</td>
                        <td>{{ cita.fechaHora | date: "medium" }}</td>
                        <td>{{ cita.especialidad }}</td>
                        <td>{{ cita.paciente.nombre }} {{cita.paciente.apellidoPaterno}}</td>
                        <td>{{ cita.doctor}}</td>
                        <td>{{ cita.estado == 1 ? 'Activa': 'Cancelada'}}</td>
                        <td class="text-center">
                            <button (click)="abrirModalAct(cita)" class="btn btn-success btn-sm btn-block">
                                <i class="mdi mdi-update mdi-18px">Actualizar</i>
                            </button>
                            <input data-toggle="modal" data-target="#modalCitaAct" #modalCitaAct type="hidden" name="button" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--Modal para añadir-->
<div class="modal fade" id="modalCita" style="background-color: rgba(0, 0, 0, 0.5);" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalCita" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar cita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formCita" class="modal-body">
                <form [formGroup]="formCita" class="row">

                    <div class="form-group col-md-12">
                        <label for="motivo">Motivo</label>
                        <select formControlName="motivo" class="form-control" id="motivo">
                            <option *ngFor="let mot of motivos" [value]="mot._id">
                                {{ mot.descripcion }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="fechaHora">Fecha y hora</label>
                        <input formControlName="fechaHora" type="datetime-local" class="form-control" id="fechaHora" placeholder="..." />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dni">DNI Paciente</label>
                        <input formControlName="dni" type="text" (input)="buscarPaciente()" class="form-control" id="dni" placeholder="..." />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="nombrePaciente">Paciente</label>
                        <input readonly formControlName="nombrePaciente" type="text" class="form-control" id="nombrePaciente" placeholder="..." />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="especialidad">Especialidad</label>
                        <select formControlName="especialidad" class="form-control" id="especialidad">
                            <option *ngFor="let esp of especialidad" [value]="esp.des">
                                {{ esp.des }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="doctor">Doctor</label>
                        <input formControlName="doctor" type="text" class="form-control" id="doctor" placeholder="..." />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="registrar()" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--Modal para actualizar-->
<div class="modal fade" id="modalCitaAct" style="background-color: rgba(0, 0, 0, 0.5);" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalCitaAct" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actulizar cita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formCitaAct" class="modal-body">
                <form [formGroup]="formCitaAct" class="row">

                    <div class="form-group col-md-12">
                        <label for="motivo1">Motivo</label>
                        <input formControlName="motivo" type="text" readonly class="form-control" id="motivo1" placeholder="..." />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="fechaHora1">Fecha y hora</label>
                        <input formControlName="fechaHora" type="datetime-local" class="form-control" id="fechaHora1" placeholder="..." />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dni1">DNI Paciente</label>
                        <input formControlName="dni" type="text" readonly class="form-control" id="dni1" placeholder="..." />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="nombrePaciente1">Paciente</label>
                        <input readonly formControlName="nombrePaciente" type="text" class="form-control" id="nombrePaciente1" placeholder="..." />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="especialidad1">Especialidad</label>
                        <input formControlName="especialidad" type="text" readonly class="form-control" id="especialidad1" placeholder="..." />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="doctor1">Doctor</label>
                        <input formControlName="doctor" type="text" class="form-control" id="doctor1" placeholder="..." />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="estado">Estado</label>
                        <select formControlName="estado" class="form-control" id="estado">
                            <option *ngFor="let est of estados" [value]="est.numero">
                                {{ est.descripcion }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="actualizar()" class="btn btn-primary">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>