<head>
    <style>
        #heading {
            color: black;
        }
    </style>
</head>

<div class="form-group">
    <div class="row">
        <div class="col-md-8 d-flex justify-content-end" style="margin-bottom: 10px">
            <h1 class="text-left">
                Gestionar Trabajadores
            </h1>
        </div>

        <div class="col-md-4 d-flex justify-content-end" style="margin-bottom: 10px">
            <button type="button" class="btn btn-outline-primary" routerLink="/registrar-empleado/registrado" style="margin-bottom: 10px; float: right;">
                <i class="mdi mdi-pencil mdi-18px">REGISTRAR</i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-hover border border">
            <div class="table-responsive">
                <table id="heading" class="table table-striped table-hover border border">
                    <thead style="color: black">
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Rol</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Fecha Cambio de contraseña</th>
                            <th class="text-center" colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let h of users | filterBy: user">
                        <td class="text-center">{{ h.apellidoPaterno }} {{ h.apellidoMaterno }} {{ h.nombre }}</td>
                        <td class="text-center">{{ h.rol }}</td>
                        <td class="text-center">{{ h.email }}</td>
                        <td class="text-center">{{ h.fechaActual | date: "dd/MM/yyyy" }}</td>
                        <td class="text-center"></td>
                        <td class="text-center">
                            <button (click)="abrirModalModificar(h)" class="btn btn-success btn-sm btn-block">
                                <i class="mdi mdi-update mdi-18px">Actualizar</i>
                            </button>
                            <input data-toggle="modal" data-target="#modalModificar" #modalModificar type="hidden" name="button" />
                        </td>
                        <td class="text-center">
                            <button (click)="abrirModalVer(h)" class="btn btn-success btn-sm btn-block">
                            <i class="mdi mdi-update mdi-18px">Ver</i>
                        </button>
                            <input data-toggle="modal" data-target="#modalVer" #modalVer type="hidden" name="button" />
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger btn-sm btn-block" (click)="eliminarTrabajador(h._id)"> 
                                <i class="fa fa-trash fa-lg"></i>  
                                <i class="mdi mdi-delete-empty mdi-14px">Eliminar</i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </table>
    </div>
</div>

<!--Modal para modificar-->

<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.5)" append-to-body="true" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalModificar" aria-hidden="true" id="modalModificar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="heading" class="modal-title">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="heading" *ngIf="formUserModificar" class="modal-body">
                <form [formGroup]="formUserModificar" class="row">
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombres" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rol">Rol</label>
                        <input formControlName="rol" type="text" class="form-control" id="rol" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="celular">Celular</label>
                        <input formControlName="celular" type="text" class="form-control" id="celular" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" id="email" disabled placeholder="" />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="password">Contraseña</label>
                        <input formControlName="password" type="password" class="form-control" id="password" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="user">User</label>
                        <input formControlName="user" type="text" class="form-control" id="user" disabled placeholder="user" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="confirmar">Confirmar Contraseña del Administrador</label>
                        <input formControlName="confirmar" [type]="tipo" class="form-control" id="confirmar" placeholder="confirmar" />
                        <div class="col">
                            <button class="btn btn-primary" type="button" (click)="mostrarContrasena()">
                                <i class="fa fa-eye fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="modificar()" class="btn btn-primary">
                    Modificar
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal para ver-->

<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.5)" append-to-body="true" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalVer" aria-hidden="true" id="modalVer">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="heading" class="modal-title">Ver Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formUserVer" class="modal-body">
                <form id="heading" [formGroup]="formUserVer" class="row">
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombres" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rol">Rol</label>
                        <input formControlName="rol" type="text" class="form-control" id="rol" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="celular">Celular</label>
                        <input formControlName="celular" type="text" class="form-control" id="celular" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" id="email" disabled placeholder="" />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="password">Contraseña</label>
                        <input formControlName="password" [type]="tipo" id="password" class="form-control" disabled placeholder="" />
                        <div class="col">
                            <button class="btn btn-primary" type="button" (click)="mostrarContrasena()">
                                <i class="fa fa-eye fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="user">User</label>
                        <input formControlName="user" type="text" class="form-control" id="user" disabled placeholder=" " />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>