<div class="container-fluid">
    <div class="row">

    </div>
    <form [formGroup]="formRegistrar" class="row">
        <div class="form-group col-md-6">
            <label for="dni">DNI Paciente</label>
            <input readonly formControlName="dni" type="text" class="form-control" id="dni" placeholder="..." />
        </div>

        <div class="form-group col-md-6">
            <label for="nombrePaciente">Paciente</label>
            <input readonly formControlName="nombrePaciente" type="text" class="form-control" id="nombrePaciente" placeholder="..." />
        </div>

    </form>
    <div class="row">

        <div class="table-responsive">
            <table class="table table-striped table-hover border border">
                <thead style="color: black">
                    <tr>
                        <th class="text-center">Medicamento</th>
                        <th class="text-center">Forma</th>
                        <th class="text-center">Duracion</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Dosis</th>
                        <th class="text-center">Indicacion</th>
                    </tr>
                </thead>
                <tr *ngFor="let p of medicamentos">
                    <td class="text-center">{{ p.nombre }}</td>
                    <td class="text-center">{{ p.forma }}</td>
                    <td class="text-center">{{ p.duracion }}</td>
                    <td class="text-center">{{ p.cantidad }}</td>
                    <td class="text-center">{{ p.dosis }}</td>
                    <td class="text-center">{{ p.indicacion }}</td>

                </tr>
            </table>
        </div>
    </div>

</div>