<div id="impresion-ticket" class="ticket justify-content-center">
    <img width="150px" height="150px" src="../../../assets/images/logo.jpg" alt="Logotipo">
    <p class="centrado">MedSalud<br>Lima, Peru<br>17/10/2017 02:22 a.m.</p>
    <table style="border-top: 1px solid black;
    border-collapse: collapse;">
        <thead style="border-top: 1px solid black;
        border-collapse: collapse;">
            <tr style="border-top: 1px solid black;
            border-collapse: collapse;">
                <th>Cant.</th>
                <th>Motivo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody style="border-top: 1px solid black;
        border-collapse: collapse;">
            <tr>
                <td>1.00</td>
                <td>CHEETOS VERDES 80 G</td>
                <td>$8.50</td>
            </tr>
            <!-- <tr>
                <td>2.00</td>
                <td>KINDER DELICE</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <td>1.00</td>
                <td>COCA COLA 600 ML</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <td></td>
                <td>TOTAL</td>
                <td>$28.50</td> -->
            <!-- </tr> -->
        </tbody>
    </table>
    <p>¡GRACIAS POR SU COMPRA!<br>medsalud.com</p>
</div>