<div class="form-group">
    <div class="row">
        <div class="col-md-8 d-flex justify-content-end" style="margin-bottom: 10px">
            <h1 class="text-left">
                REALIZAR REGISTRO TECNICO
            </h1>
        </div>

        <div class="col-md-4 d-flex justify-content-end" style="margin-bottom: 10px">
            <button type="button" class="btn btn-outline-primary" routerLink="/registro-tecnico/registrado" style="margin-bottom: 10px; float: right;">
                <i class="mdi mdi-pencil mdi-18px">REGISTRAR REGISTRO</i>
            </button>
        </div>
    </div>
</div>
<div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover border border">
                <div class="table-responsive">
                    <table class="table table-striped table-hover border border">
                        <thead style="color: black;">
                            <tr>
                                <th class="text-center">Motivo</th>
                                <th class="text-center">Codigo</th>
                                <th class="text-center">Descripcion</th>
                                <th class="text-center">EstadoMaquina</th>
                                <th class="text-center">Nombre Tecnico</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center" colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let e of registroReporteT">
                            <td class="text-center"> {{e.motivo}}</td>
                            <td class="text-center"> {{e.codigomaquina}}</td>
                            <th class="text-center"> {{e.descripcion}} </th>
                            <th class="text-center"> {{e.estadomaquina}} </th>
                            <th class="text-center"> {{e.nombretecnico}} </th>
                            <td class="text-center"> {{e.fecha | date:'dd/MM/yyyy'}}</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm btn-block" [routerLink]="['/registro-tecnico/actualizado',e._id]">
                                    <i class="fa fa-pencil fa-lg"></i>
                                    <i class="mdi mdi-update mdi-14px">Editar</i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-danger btn-sm btn-block" (click)="eliminarEspecialidad(e._id)"> 
                                    <i class="fa fa-trash fa-lg"></i>  
                                    <i class="mdi mdi-delete-empty mdi-14px">Eliminar</i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </table>
        </div>
    </div>
</div>