<div>
    <div class="col-lg-15 col-md-15 col-xs-15">
        <div class="card border">
            <div class="card-body">
                <div class="card-body">
                    <form [formGroup]="formReporteT">
                        <div class="text-center" style="margin-bottom: 15px">
                            <label>Visualizar Registro Tecnico</label>
                        </div>
                        <div class="form-group col-lg-16 col-md-16 col-xs-16">
                            <label for="motivo">Motivo</label>
                            <select disabled id="motivo" style="color:#000000" class="form-control" formControlName="motivo">
                            <option *ngFor="let mot of this.motivo" [value]="mot.mot">{{mot.mot}}</option>
                              </select>
                            <div class="pt-1 text-danger" *ngIf="invalid('motivo') || motivoAux">
                                <span class="form-control-feedback">
                              <i class="mdi mdi-close-circle"></i> Este campo es <strong>requerido.</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                                <label for="codigomaquina">Codigo de la Maquina</label>
                                <input disabled type="text" id="codigomaquina" style="color:#000000" class="form-control" placeholder="Codigo Maquina" formControlName="codigomaquina">
                                <div class="pt-1 text-danger" *ngIf="invalid('codigomaquina') || codigomaquinaAux">
                                    <span class="form-control-feedback">
                                        <i class="mdi mdi-close-circle"></i> Este campo es <strong>requerido.</strong>
                                       </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                                <label for="descripcion">Descripcion</label>
                                <input disabled type="text-area" id="descripcion" style="color:#000000" class="form-control" placeholder="Descripcion" formControlName="descripcion">
                                <div class="pt-1 text-danger" *ngIf="invalid('descripcion') || descripcionAux">
                                    <span class="form-control-feedback">
                                        <i class="mdi mdi-close-circle"></i> Este campo es <strong>requerido.</strong>
                                       </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-16 col-md-16 col-xs-16">
                            <label for="estadomaquina">Estado de la Maquina</label>
                            <select disabled id="estadomaquina" style="color:#000000" class="form-control" formControlName="estadomaquina">
                            <option *ngFor="let est of this.estado" [value]="est.est">{{est.est}}</option>
                              </select>
                            <div class="pt-1 text-danger" *ngIf="invalid('estadomaquina') || estadomaquinaAux">
                                <span class="form-control-feedback">
                              <i class="mdi mdi-close-circle"></i> Este campo es <strong>requerido.</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                                <label for="nombretecnico">Nombre del Tecnico</label>
                                <input disabled type="text-area" id="nombretecnico" style="color:#000000" class="form-control" placeholder="Nombre del tecnico" formControlName="nombretecnico">
                                <div class="pt-1 text-danger" *ngIf="invalid('nombretecnico') || nombretecnicoAux">
                                    <span class="form-control-feedback">
                                        <i class="mdi mdi-close-circle"></i> Este campo es <strong>requerido.</strong>
                                       </span>
                                </div>
                            </div>
                        </div>

                        <td class="text-center">
                            <ng-container *ngIf="!editar; else editarRegistroTecnico">
                                <button [disabled]="formReporteT.invalid" type="submit" class="btn btn-success" (click)="operar()" routerLink='/registro-tecnico'>
                                <i class="mdi mdi-pencil mdi-18px" >Registrar</i>
                            </button>
                            </ng-container>
                        </td>

                        <ng-template #editarRegistroTecnico>
                            <td class="text-center">
                            </td>
                        </ng-template>

                        <td class="text-center">
                            <button type="button" role="button" class="btn btn-danger ml-2" routerLink='/visualizar-registro-tecnico'>
                                Regresar<i class="mdi mdi-arrow-left-bold mdi-18px"></i>
                            </button>
                        </td>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>