<!DOCTYPE html>
<html lang="en">

<head>
    <title>Policlínico MedSalud</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Aca es donde importas el estilo kgada-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Presentar Home/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="http://localhost:4200/presentarhome">
                <img src="../../assets/images/presentarhomeimagenes/log01medicina.svg" width="150" height="50" alt="">
            </a>

            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:4200/presentarhome">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.google.com/maps/place/Servicios+Médicos+Dr.+Garnica/@-12.0090577,-77.0126674,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipPWNQSvuPIa7_hbOhaa5P35g01rwOhRZ_Ctn72E!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPWNQSvuPIa7_hbOhaa5P35g01rwOhRZ_Ctn72E%3Dw203-h114-k-no!7i3104!8i1746!4m14!1m8!3m7!1s0x0:0xd9c951b8bb2b7da6!2sServicios+Médicos+Dr.+Garnica!8m2!3d-12.0090577!4d-77.0126674!14m1!1BCgIgAQ!3m4!1s0x0:0xd9c951b8bb2b7da6!8m2!3d-12.0090577!4d-77.0126674">Ubicacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/DR.GARNICA">Conoce mas</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:4200/presentarhome" class="btn btn-danger btn-lg active text-center" role="button" aria-pressed="true">Medicina General</a>
                </li>
            </ul>
        </nav>
        <div class="cover d-flex justify-content-end align-items-start p-5 flex-column" style="background-image: url(../../assets/images/ImagenesParaNoSeQue//LabCLinico.jpg);">
            <h1>
                POLICLINICO MEDSALUD
            </h1>

            <p>
                Laboratorio Clinico
            </p>
        </div>
    </header>
    <section>
        <div class="container mt-5 mb-5">
            <img src="../../assets/images/ECOGRA/labprincipal.jpg" alt="Laboratorio CLinico" height="200" class="float-left ml-4" />
            <p>
                El laboratorio clínico es el lugar donde un equipo multidisciplinario formado por el químico clínico, el analista clínico, el médico, el patólogo clínico, los técnicos de laboratorio y los técnicos de diagnóstico y análisis clínico, analizan muestras
                biológicas humanas que contribuyen al estudio y a la prevención de enfermedades y hacen que la búsqueda y la investigación estén disponibles para el conocimiento humano. El laboratorio clínico se conoce como laboratorio de patología clínica
                y utiliza las metodologías de diversas disciplinas como la bioquímica, también llamada química clínica, la hematología, la inmunología y la microbiología.
            </p>
            <p>
                En el laboratorio clínico se obtienen y se estudian muestras biológicas diversas, como la sangre, la orina, las heces, el líquido sinovial de las articulaciones, el líquido cefalorraquídeo, los exudados faríngeos y vaginales, entre otros tipos de muestras.
            </p>
            <p>
                A los laboratorios acuden pacientes externos, puesto que los exámenes que se requieren de los enfermos hospitalizados se hacen mediante muestras que se toman en las unidades de hospitalización. En consecuencia su ubicación será preferentemente en la planta
                baja, con fácil acceso a la sección de recepción del archivo clínico y en menor grado el departamento de consultas externas. Este servicio deberá ubicarse en una ubicación cercana a los servicios de consulta externa, urgencias hospitalarias,
                unidad de terapia intensiva, quirófano y debe contar con un fácil acceso hacia las áreas de hospitalización.
            </p>
        </div>
    </section>
    <section>
        <div class="container mt-5 mb-5">
            <div class="slider-stripe">
                <div class="slider-container">
                    <div class="image-container" style="background-image:url(../../assets//images//ecogra/lab1.jpg)">
                    </div>
                    <div class="image-container" style="background-image:url(../../assets//images//ecogra/lab2.jpg)">
                    </div>
                    <div class="image-container" style="background-image:url(../../assets//images//ecogra/lab3.png)">
                    </div>
                    <div class="image-container" style="background-image:url(../../assets//images//ecogra/lab5.jpg)">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © POLICLINICO MEDSALUD 2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Dr. Garnica</span>
        </div>
    </footer>
</body>

</html>